@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Vampiro+One);
.text-center, #content h2 {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

ul.list-inline {
  list-style: none;
}
ul.list-inline li {
  display: inline-block;
}

.accent {
  width: 50px;
  height: 5px;
  margin: 0 auto 40px;
}
.accent.white {
  background-color: white;
}
.accent.green {
  background-color: #71c837;
}
.accent.yellow {
  background-color: #ffcc00;
}
.accent.left {
  margin: 0 0 40px;
}
.accent.right {
  margin: 0 0 40px auto;
}

.ease, a, .post-item a.thumb img, .service-item h3, .service-item .base, .service-item .icon {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2 {
  font-family: "Vampiro One", cursive;
}

.container {
  max-width: 90rem;
}

@media (max-width: 768px) {
  .column {
    max-width: 100% !important;
  }
}

header {
  color: #fff;
  height: 100vh;
  background-color: #71c837;
  display: flex;
}
header nav.topnav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header nav.topnav h1, header nav.topnav ul, header nav.topnav li {
  margin-bottom: 0;
}
header nav.topnav a.logo {
  display: block;
}
header nav.topnav h1 {
  font-size: inherit;
}
header nav.topnav h1 img {
  width: 170px;
  margin: 15px;
}
@media (max-width: 768px) {
  header nav.topnav h1 img.logo-lg {
    display: none;
  }
}
header nav.topnav h1 img.logo-sm {
  width: 34px;
  display: none;
}
@media (max-width: 768px) {
  header nav.topnav h1 img.logo-sm {
    display: inline;
  }
}
header nav.topnav a {
  color: #fff;
  padding-right: 15px;
  line-height: 60px;
}
header nav.topnav a:hover {
  color: inherit;
  font-weight: 600;
}
header .caption {
  padding: 0 15px;
  margin: auto;
}
header .caption h2 {
  color: #ffcc00;
  font-size: 8rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  header .caption h2 {
    font-size: 5rem;
  }
}
header .caption p {
  font-size: 2.2rem;
}
header a.direction {
  color: inherit;
  font-size: 5rem;
}

#content {
  background-image: url("../img/pattern-bg.png");
  background-color: #f2f2f2;
  background-attachment: fixed;
  position: relative;
}
#content nav.navbar-affix {
  width: 100%;
  line-height: 55px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  top: -55px;
  left: 0;
}
@media (max-width: 768px) {
  #content nav.navbar-affix {
    line-height: 33px;
    top: -33px;
  }
}
#content nav.navbar-affix ul {
  margin: 0 auto;
}
#content nav.navbar-affix ul li {
  margin-bottom: 0;
}
#content nav.navbar-affix ul li a {
  color: inherit;
  padding: 0 10px;
  vertical-align: middle;
  display: block;
}
#content nav.navbar-affix ul li a:hover {
  font-weight: 600;
}
#content nav.navbar-affix-scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#content section {
  padding: 80px 0;
}
#content section#service .accent {
  background-color: #ffcc00;
}
#content section#works .accent {
  background-color: #71c837;
}
#content section#works .button {
  margin-top: 3rem;
}
#content section .works-item {
  margin: 10px 0;
}
#content section .works-item:first-child {
  margin-left: 0;
}
#content section .works-item:last-child {
  margin-right: 0;
}
#content section .works-item a {
  height: 200px;
  background-color: #71c837;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
#content section .works-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 80px 0;
  color: #fff;
  background-color: #71c837;
}
footer .typeform {
  margin-bottom: 80px;
  overflow: hidden;
}
footer .footer-caption .footer-logo img {
  width: 280px;
}
footer .footer-caption a {
  color: #ffcc00;
  font-weight: 600;
}
footer .footer-caption a:hover {
  color: inherit;
}
footer .footer-caption ul li a {
  color: white;
  margin-right: 5px;
}
footer .footer-caption ul li a:hover {
  color: #ffcc00;
}
@media (max-width: 768px) {
  footer .footer-caption .footer-logo, footer .footer-caption .footer-note {
    text-align: center;
    margin: 0 !important;
  }
  footer .footer-caption .footer-logo img {
    width: 200px;
  }
}

.scroll-top {
  width: 50px;
  line-height: 50px;
  margin: 0 20px 20px 0;
  text-align: center;
  color: #71c837;
  background-color: white;
  display: block;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;
}
.scroll-top:hover {
  color: white;
  background-color: #ffcc00;
}
.scroll-top p {
  display: none;
}
@media (max-width: 768px) {
  .scroll-top {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .scroll-top p {
    display: inline;
  }
}

section#posts {
  background-color: #f2f2f2;
}

body#posts #content {
  background-color: #f2f2f2;
  background-image: none;
}

.post-item {
  margin-bottom: 26.66667px;
}
.post-item a.thumb img {
  max-width: 90%;
  border-radius: 50%;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
@media (max-width: 768px) {
  .post-item {
    text-align: center;
  }
  .post-item a.thumb img {
    width: 200px;
    max-width: inherit;
    -webkit-filter: none;
    filter: none;
  }
  .post-item .post-body {
    text-align: center;
  }
}
.post-item:hover a.thumb img {
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}
.post-item h3 a {
  color: inherit;
}
.post-item h3 a:hover {
  color: #71c837;
}

svg.service-icon {
  width: 60%;
  height: auto;
  position: relative;
}
svg.service-icon .base {
  opacity: 0;
}

.service-item {
  text-align: center;
}
.service-item .icon {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.service-item:hover h3 {
  color: #ffcc00;
}
.service-item:hover .base {
  opacity: 1;
}
.service-item:hover .icon {
  fill: #fff;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

body#work {
  background-image: url("../img/pattern-bg.png");
  background-attachment: fixed;
}
body#work .topnav {
  background-color: #71c837;
  position: fixed;
  z-index: 5;
}
body#work header {
  color: inherit;
  height: auto;
  background-color: transparent;
}
body#work header .work-thumb {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}
body#work header .work-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
body#work header .caption {
  margin-top: 150px;
}
body#work #content {
  background-color: transparent;
  background-image: none;
}
body#work #content section {
  padding: 40px 0;
}
body#work #content .spotlight {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
body#work #content .spotlight img {
  margin: 0;
}
body#work #content a.figure {
  display: inline-block;
}
body#work #content a.figure img {
  margin: 3rem 0;
  max-width: 100%;
  max-height: 600px;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
