// COLOR
$color-primary: #71c837
$color-accent : #ffcc00
$color-grey   : #f2f2f2

// TYPOGRAPHY
$font-base	: 1.6rem
$font-medium: 2.2rem

// MEDIA QUERY BREAKPOINT
$bp-mobile: "(max-width: 600px)"
$bp-tablet: "(max-width: 750px)"
$bp-screen: "(max-width: 970px)"
$bp-large : "(max-width: 1170px)"

// ELEMENTS
$gutter: 80px
$navfix-height: 50px
$navfix-height-sm: $navfix-height * 60/100

